/* line 1, ../../components/sass/_svg.scss */
.country {
  fill: #ccc;
  stroke-width: 1;
  transition: 0.2s;
}

/* .country:hover{fill:green} */
/* line 3, ../../components/sass/_svg.scss */
.country-outline {
  stroke: #FFFFFF;
}

/* line 4, ../../components/sass/_svg.scss */
.country-font {
  fill: #273A4D;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  display: none;
}

/* line 12, ../../components/sass/_svg.scss */
.st4 {
  font-size: 14px;
}

/* line 13, ../../components/sass/_svg.scss */
.st5 {
  font-size: 20px;
}

/* line 14, ../../components/sass/_svg.scss */
.st6 {
  font-size: 20px;
}

/* line 15, ../../components/sass/_svg.scss */
.st8 {
  font-size: 20px;
}

/* line 36, ../../components/sass/_variables.scss */
.zoom-val0 {
  width: 50%;
}

/* line 37, ../../components/sass/_variables.scss */
.zoom-val1 {
  width: 80%;
}

/* line 38, ../../components/sass/_variables.scss */
.zoom-val2 {
  width: 100%;
}

/* line 39, ../../components/sass/_variables.scss */
.zoom-val3 {
  width: 150%;
}

/* line 40, ../../components/sass/_variables.scss */
.zoom-val4 {
  width: 200%;
}

/* line 41, ../../components/sass/_variables.scss */
.zoom-val5 {
  width: 250%;
}

/* line 42, ../../components/sass/_variables.scss */
.zoom-val6 {
  width: 300%;
}

/* line 1, ../../components/sass/_basic.scss */
.cnt {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 1em;
}

/* line 8, ../../components/sass/_basic.scss */
.green-nr {
  color: #00c500;
}

/* line 9, ../../components/sass/_basic.scss */
.red-nr {
  color: #ff0000;
}

/* line 10, ../../components/sass/_basic.scss */
.black-nr {
  color: #212529;
}

/* line 1, ../../components/sass/_header.scss */
.header-wrapper {
  background-color: #b3eb4b;
  padding: 0.5em 0;
  margin-bottom: 1rem;
}
/* line 6, ../../components/sass/_header.scss */
.header-wrapper h2 {
  font-size: 1.8rem;
}
/* line 10, ../../components/sass/_header.scss */
.header-wrapper .title {
  font-size: 0.7em;
  display: block;
  margin-top: 0.2em;
}

/* line 1, ../../components/sass/_search.scss */
.get-data {
  margin-bottom: 1rem;
}

/* line 5, ../../components/sass/_search.scss */
.select-group {
  display: flex;
}
/* line 9, ../../components/sass/_search.scss */
.select-group label {
  display: none;
}
/* line 13, ../../components/sass/_search.scss */
.select-group select {
  text-align: center;
  margin: 0.5rem 0;
  padding: 0 0.5rem;
}
/* line 18, ../../components/sass/_search.scss */
.select-group select option {
  text-align: center;
}
/* line 23, ../../components/sass/_search.scss */
.select-group select:first-of-type {
  margin-right: 0.5rem;
}

/* line 28, ../../components/sass/_search.scss */
.btn-get-data {
  width: 100%;
}

/* line 1, ../../components/sass/_legend.scss */
.legend-cnt {
  margin-bottom: 0.7rem;
}

/* line 5, ../../components/sass/_legend.scss */
.color-info {
  margin-bottom: 0.5rem;
}

/* line 11, ../../components/sass/_legend.scss */
.legend-options .btn-group, .legend-options .btn {
  width: 100%;
}
/* line 15, ../../components/sass/_legend.scss */
.legend-options .btn {
  border-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 21, ../../components/sass/_legend.scss */
.legend-options .btn-on {
  background-color: #333;
  border-color: #333;
}
/* line 25, ../../components/sass/_legend.scss */
.legend-options .btn-on:focus {
  box-shadow: none;
}
/* line 30, ../../components/sass/_legend.scss */
.legend-options .btn-off {
  border-color: #ddd;
  color: #aaa;
}
/* line 34, ../../components/sass/_legend.scss */
.legend-options .btn-off:focus {
  box-shadow: none;
}

/* line 40, ../../components/sass/_legend.scss */
.flex {
  display: flex;
}

/* line 44, ../../components/sass/_legend.scss */
.legend-color-group {
  border: 1px solid #ddd;
  border-top: none;
  padding: 0.5rem;
}

/* line 50, ../../components/sass/_legend.scss */
.legend-col {
  margin-right: 1rem;
}

/* line 54, ../../components/sass/_legend.scss */
.legend-item {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

/* line 60, ../../components/sass/_legend.scss */
.color-box {
  width: 25px;
  height: 25px;
  margin-right: 0.5em;
  flex-shrink: 0;
}

/* line 67, ../../components/sass/_legend.scss */
.color1 {
  background-color: #E8D930;
}

/* line 68, ../../components/sass/_legend.scss */
.color2 {
  background-color: #B4EB47;
}

/* line 69, ../../components/sass/_legend.scss */
.color3 {
  background-color: #70E236;
}

/* line 70, ../../components/sass/_legend.scss */
.color4 {
  background-color: #55C738;
}

/* line 71, ../../components/sass/_legend.scss */
.color5 {
  background-color: #4ba136;
}

/* line 73, ../../components/sass/_legend.scss */
.color-red1 {
  background-color: #f94040;
}

/* line 74, ../../components/sass/_legend.scss */
.color-red2 {
  background-color: #c73838;
}

/* line 75, ../../components/sass/_legend.scss */
.color-red3 {
  background-color: #982c2c;
}

/* line 77, ../../components/sass/_legend.scss */
.fill-color1 {
  fill: #E8D930;
}

/* line 78, ../../components/sass/_legend.scss */
.fill-color2 {
  fill: #B4EB47;
}

/* line 79, ../../components/sass/_legend.scss */
.fill-color3 {
  fill: #70E236;
}

/* line 80, ../../components/sass/_legend.scss */
.fill-color4 {
  fill: #55C738;
}

/* line 81, ../../components/sass/_legend.scss */
.fill-color5 {
  fill: #4ba136;
}

/* line 83, ../../components/sass/_legend.scss */
.fill-color-red1 {
  fill: #f94040;
}

/* line 84, ../../components/sass/_legend.scss */
.fill-color-red2 {
  fill: #c73838;
}

/* line 85, ../../components/sass/_legend.scss */
.fill-color-red3 {
  fill: #982c2c;
}

/* line 87, ../../components/sass/_legend.scss */
.zoom {
  font-size: 1.2rem;
  color: #aaa;
}
/* line 91, ../../components/sass/_legend.scss */
.zoom i {
  cursor: pointer;
}

/* line 1, ../../components/sass/_map.scss */
.map-scroll {
  margin: 0 -0.8rem;
  margin-bottom: 0.5rem;
  position: relative;
  overflow: auto;
}

/* line 8, ../../components/sass/_map.scss */
.map-svg-cnt {
  margin: 0 auto;
}

/* line 1, ../../components/sass/_tooltip.scss */
.dark-bg {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

/* line 12, ../../components/sass/_tooltip.scss */
.map-tooltip {
  background-color: #fff;
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 10;
  padding: 1em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
/* line 21, ../../components/sass/_tooltip.scss */
.map-tooltip h3 {
  font-size: 1.2rem;
  margin: 0;
}

/* line 27, ../../components/sass/_tooltip.scss */
.fixed {
  position: fixed;
  left: 5%;
  top: 10%;
  width: 90%;
  padding: 2rem;
}

/* line 35, ../../components/sass/_tooltip.scss */
.close-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  color: gray;
}

/* line 1, ../../components/sass/_table.scss */
.table-cnt {
  overflow: auto;
  margin: 1rem -0.8rem;
  font-size: 0.85rem;
}

/* line 7, ../../components/sass/_table.scss */
.table th {
  position: relative;
  cursor: pointer;
}
/* line 11, ../../components/sass/_table.scss */
.table i {
  position: absolute;
  margin-left: 10px;
  font-size: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
}
/* line 19, ../../components/sass/_table.scss */
.table .visible {
  visibility: visible;
}
/* line 22, ../../components/sass/_table.scss */
.table .descending {
  transform: translateY(-50%) rotate(180deg);
}
/* line 26, ../../components/sass/_table.scss */
.table tr:hover {
  background-color: #f7f7f7;
  border-color: #3c3c3c;
}
/* line 31, ../../components/sass/_table.scss */
.table th:hover {
  background-color: #3c3c3c;
}
/* line 36, ../../components/sass/_table.scss */
.table .right {
  text-align: right;
  padding-right: 25px;
}
/* line 41, ../../components/sass/_table.scss */
.table td {
  padding: 0.3rem;
}

/* line 1, ../../components/sass/_footer.scss */
.footer {
  background-color: #b3eb4b;
  padding: 1.5rem;
}
/* line 6, ../../components/sass/_footer.scss */
.footer p {
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 500px) {
  /* line 2, ../../components/sass/_mediaq.scss */
  .table {
    font-size: 1rem;
  }
  /* line 5, ../../components/sass/_mediaq.scss */
  .table .right, .table .text-right {
    padding-right: 30px;
  }
  /* line 9, ../../components/sass/_mediaq.scss */
  .table td {
    padding: 0.75rem;
  }
}
@media screen and (min-width: 700px) {
  /* line 17, ../../components/sass/_mediaq.scss */
  .cnt {
    padding: 0 1rem;
  }

  /* line 21, ../../components/sass/_mediaq.scss */
  .form-control {
    width: auto;
  }

  /* line 25, ../../components/sass/_mediaq.scss */
  .btn-get-data {
    width: auto;
    padding: 0.4rem 3rem;
  }

  /* line 30, ../../components/sass/_mediaq.scss */
  .legend-cnt {
    width: 400px;
  }

  /* line 34, ../../components/sass/_mediaq.scss */
  .map-scroll {
    margin: 0;
  }

  /* line 38, ../../components/sass/_mediaq.scss */
  .table-cnt {
    max-width: 700px;
    margin: 1rem auto;
  }
}
